<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>
        <%= userProfile.User.username %>
    </h1>

    <form action="/gshop/user-profile/edit" method="post">
        <div>
            <label for="fullName">Nama</label>
            <input type="text" name="fullName" value="<%= userProfile.fullName %>">
        </div>
        <div>
            <label for="phoneNumber">No/ Hp</label>
            <input type="text" name="phoneNumber" value="<%= userProfile.phoneNumber %>">
        </div>
        <button>update</button>
    </form>

</body>

</html>