<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GShop</title>
</head>

<body>

    <a href="/gshop/user-profile/">Profile</a>
    <a href="/gshop/orders/">Orders</a>

    <form action="">
        <div>
            <label for="keyword"></label>
            <input type="text" name="keyword" id="keyword" placeholder="Cari Game">
        </div>
        <button>Search</button>
    </form>

    <% categories.forEach(e=> { %>
        <a href="/gshop/category/<%= e.id %>">
            <p>
                <%= e.name %>
            </p>
        </a>

        <% }) %>

</body>

</html>