<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- halaman buat login-->
    <ul>
        <% if (error) { %>
            <li>
                <%=error %>
            </li>

            <% } %>

                <% if (success) { %>
                    <li>
                        <%=success %>
                    </li>

                    <% } %>

    </ul>

    <!-- ada form username - input text, password - input password -->

    <form action="/gshop/sign-in" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="" placeholder="">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="" placeholder="">
        </div>

        <button>Sign in</button>
    </form>
    <a href="/gshop/sign-up">create new account</a>
</body>

</html>